<div class="container">
  <mat-card>
    <h1>ABOUT</h1>

    <hr>

    <p>
      NiceHash Device Configurator is a website which allows you to configure your NiceHash OS Crypto Miner.
      I started this project because NiceHash OS has no easy way of configuring your device's algorithms and this
      project aims to fill in those gaps.
    </p>

    <h3>Change Log</h3>

    <div id="change-log">
      <div class="change-log-item">
        <span class="change-log-title">V1.0.0</span>
        <br>
        <span class="title-features">FEATURES</span>
        <ul>
          <li>Upload your miner's config file.</li>
          <li>Enable/Disable algorithms for each GPU</li>
        </ul>

      </div>


    </div>

  </mat-card>
</div>
