.container {
  width: 80%;
  height: 93.5vh;
  color: white;
  background-color: #4444;
  margin: auto;
  overflow: hidden;

  p {
    line-height: 1.5rem;
  }

  mat-card {
    width: 80%;
    background-color: #4B4B4B;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    color: white;


    h1 {
      font-weight: 500;
      margin-bottom: 0;
    }

    h3 {
      font-weight: 500;
      margin-bottom: 10px;
    }

    #change-log {
      padding: 25px;
      border: 1px solid yellow;
      border-radius: 8px;

      .change-log-item .change-log-title {
        display: block;
        font-weight: 500;
        font-size: 1.25rem;
      }
    }

  }
}
