mat-card {
  min-width: 250px;
  width: 75%;
  padding: 25px;
  margin: 15px auto 0 auto;
  background-color: #4B4B4B;
  color: white;

  .card-title {
    font-size: 22px;
    font-weight: 400;
  }

  .row .card-title {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }

  .card-header {
    display: flex;
    margin-bottom: 25px;

    #gpu-status {
      margin-left: auto;
      display: flex;

      mat-icon {
        margin: auto 5px auto 0;
        font-size: 32px;
        width: fit-content;
        height: fit-content;
      }

      .icon-green {
        color: green;
      }

      .icon-red {
        color: red;
      }
    }
  }

  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .algorithm {
    background-color: #333333;
    padding: 5px;
    height: 75px;
    width: 125px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    div {
      margin: auto;
      text-transform: capitalize;

      p {
        text-align: center;
      }
    }
  }

  .algorithm-enabled {
    border: 1px solid green;
  }

  .algorithm-disabled {
    border: 1px solid red;
  }

  .algorithm:hover {
    background-color: #3B3B3B;
    cursor: pointer;
  }

}

mat-card:last-of-type {
  margin-bottom: 15px;
}

#device-general-info .card-header {
  margin-bottom: 0;
}

#device-bar {
  background-color: #4B4B4B;
  color: white;
  padding: 20px;
  justify-content: space-between;

  span {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }

  button {
    color: black;
  }

  mat-checkbox {
    height: fit-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }
}

mat-form-field {
  max-width: 150px;

  mat-label {
    color: white;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: white;
  }
}
